{% extends "base.html.twig" %}

{% block title %}
  Movies Page
{% endblock %}

{% block body %}
  <h1 class="bg-red-500 text-2xl text-center font-bold">Woohoo.!</h1>

  <img src="{{ asset('build/images/image.55185277.jpg') }}" alt="">
{% endblock %}